BOT_TOKEN=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=meter-photos

LOG_LEVEL=INFO

COLD_WATER_MAX_MONTHLY_DELTA=100
HOT_WATER_MAX_MONTHLY_DELTA=100
ELECTRICITY_MAX_MONTHLY_DELTA=3000
